<ion-view view-title="Home Page" class="home_Page">
	<ion-content>
		<div class="main_Title">
			<p> HM Service Learning </p>			
		</div>
		<div class="center">
		<p class="space">
		<span class="large">WHAT IS A SERVICE-LEARNING PROJECT?</span>
		</p>
		<p class="c0 c6">
		<span class="bold">
		</span>
		</p>
		<p class="c0 c10">
		<span class="bold c9 c17">A Service-Learning Project is an action and learning experience you undertake, alone or with others, to a) make an impact on your wider community and b) learn something important to you. &nbsp;It must contain both clear service and learning components and objectives. &nbsp;The project must demonstrate a sufficient level of commitment, most often including planning and collaboration with others, along with participation in an activity itself. &nbsp;</span>
		</p>
		<p class="c0 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c0">
		<span class="bold c9">We will provide opportunities throughout the year for reflection, which is another central component of service-learning. &nbsp;</span>
		</p>
		<p class="c0 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c0">
		<span class="bold c9">Please refer to the &ldquo;Six Service-Learning Values&rdquo; page for the guiding principles behind projects. &nbsp;</span>
		</p>
		<p class="c0 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c0">
		<span class="bold c9">We have developed a list of pre-approved projects in which you may participate and fulfill your requirement. &nbsp;Some of you will want to propose something new or different, through the form on these Haiku pages.</span>
		</p>
		<p class="c0 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c0">
		<span class="bold c9">The goal of the HM Service-Learning requirement is to help you at all stages of the process. You need not feel that you have a finished idea, a complete plan, etc. before you propose a project. &nbsp;If this is a new project, please complete the form to the best of your ability and submit it to the Tenth Grade Committee.</span>
		</p>
		<p class="c0 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c0">
		<span class="bold c9">Service activities, even some wonderful ones, may not be approved without crucial additions that make them complete service-learning projects. &nbsp;Even though the work may be fanatasic, </span>
		<span class="bold c9 ital">don&rsquo;t risk having your hard work not count towards fulfillment of your requirement!</span>
		<span class="bold c9">&nbsp; Submit your form and obtain approval </span>
		<span class="bold c9 ital">before</span>
		<span class="bold c9">&nbsp;you undertake the activity. &nbsp;</span>
		</p>
		<p class="c4 c6 c15">
		<span class="bold">
		</span>
		</p>
		<p class="space">
		<span class="large">WHAT MAKES A SUCCESSFUL PROJECT?</span>
		</p>
		<p class="c4 c6 c16">
		<span class="bold">
		</span>
		</p>
		<p class="c4">
		<span class="c2">A successful project has a </span>
		<span class="bold c9">Goal</span>
		<span class="c2">, a </span>
		<span class="bold c9">Program/Activity</span>
		<span class="c2">, and criteria for </span>
		<span class="bold c9">Evaluation</span>
		<span class="c2">. &nbsp;Projects will also have an </span>
		<span class="bold c9">adult liaison.</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="bold c9">GOAL:</span>
		<span class="c2">&nbsp; What issue does the program address? Or, What do you hope participants (including you!) will get out of the experience?</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="bold c9">PROGRAM/ACTIVITY: &nbsp;</span>
		<span class="c2">The activity should be well-planned, addressing the goal. &nbsp;Most activities will take place over more than one visit/day/event. &nbsp;</span>
		<span class="c2 ital">Continuity</span>
		<span class="c2">&nbsp;is an important part of service-learning. &nbsp;</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="bold c9">EVALUATION: &nbsp;</span>
		<span class="c2">Please consider how you would answer these questions:</span>
		</p>
		<p class="c4 c6">
		<span class="bold c9">
		</span>
		</p>
		<p class="c4 c8">
		<span class="c2">How will you know if your events/activities have been successful? &nbsp;</span>
		</p>
		<p class="c4 c8">
		<span class="c2">Were there surprises or unanticipated experiences, either positive or negative (or both!)?</span>
		</p>
		<p class="c4 c8">
		<span class="c2">Do you see a possibility for next steps? &nbsp;Would you like to continue in this activity? &nbsp;(Please note: your comments here in no way obligate you to continue, if you decide otherwise.)</span>
		</p>
		<p class="c4 c6 c8">
		<span class="c2">
		</span>
		</p>
		<p class="c4 c8">
		<span class="c2">What did you learn?</span>
		</p>
		<p class="c4 c8">
		<span class="c2">What would you need to know to do more in this area?</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="bold c9">ADULT LIAISON:</span>
		<span class="c2">&nbsp; It is necessary that either a faculty member, a representative from an outside agency, or other adult &ldquo;sign off&rdquo; on your project. &nbsp;Different projects will require different levels of adult supervision and responsibility. &nbsp;Before you submit your project, please have an adult willing to oversee your experience. &nbsp;If you are unable to find the right person, please contact the CCVA office. &nbsp;</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="bold c9">APPROVAL: &nbsp;</span>
		<span class="c2">Please enter your project idea on the Project Proposals in the submission tab.
		<span class="c2">. You can also enter your project, and get more information, through the Haiku page. &nbsp;You will be contacted by the Tenth Grade Service-Learning Committee with information on the next steps. &nbsp;This can include Approval; Request for more information; Request to meet with the committee. &nbsp;In rare cases, the project may not be approved because it does not fit the mission of the program. &nbsp;</span>
		</p>
		<p class="c4 c6">
		<span class="c2">
		</span>
		</p>
		<p>
		<span class="c2">Please think about these issues in advance of your submission of your Project Proposal online. &nbsp; </span>
		</p>
		<p>
		<span class="c2">
		</span>
		</p>
		<p class="c4">
		<span class="c2">Questions? &nbsp;Please see our FAQ page. &nbsp;If your question is not answered there, please contact the CCVA office at </span>
		<span class="c2 c18">
		<a class="c1" href="mailto:CCVA@horacemann.org">CCVA@horacemann.org</a>
		</span>
		</p>
		</div>
	</ion-content>
</ion-view>
