
<ion-view view-title="FAQ">
	<ion-content>
		<div class="main_Title">
			<p> Frequently Asked</p><p> Questions </p>			
		</div>
		<div class="left">
		<p class="space">
		<span class="large ital">What's the transition about?</span>
		</p>
		</div>
		<div class="center">
		<p><span>The Horace Mann Upper Division 80-hour community service requirement, in place since 1989, has enabled many students to participate in wonderful community service experiences.   Students’ service through the years has benefitted individuals and communities, and it has provided significant learning opportunities.  However, for many members of the community it has naturally led to an inordinate focus on hours, to the detriment of the meaning and value of the experience.  The 80-hour requirement also did not make learning and reflection integral parts of the process.</span></p>
		<p class "space"><span>The Class of 2018 is the first to participate in the transition from the 80-hour requirement to our Service-Learning program.  Each incoming grade in the following years will be under the new program.  </span></p>
		<p class "space"></p></div>

		<div class="left">
		<p class="space">
		<span class="large ital">If I already have hours or projects in the current school year, what should I do?</span></p></div>
		<div class="center">
		<p><span>Please fill out our online form <a href="https://docs.google.com/spreadsheets/d/1aduIAU6-z8IYqMZPybb51btrtOG0pWmRv7djnF3b0qE/edit#gid=538405255">here</a> with information about the activity/experience.  We will contact you by email with more information, possibly to set up a meeting for further discussion. 
		</span></p><p class="space"></p></div>

		<div class="left">
		<p class="space"><span class="large ital">What about spring break or summer projects?</span></p></div>
		<div class="center">
		<p><span>Please fill out the online form with information about the project.  If you are enrolling in a program for the express purpose of fulfilling your service-learning requirement, please be aware that you must receive approval prior to receiving any credit.</span></p><p class="space"></p></div>

		<div class="left">
		<p class="space"><span class="large ital">Who should I speak to if I have questions?</span></p></div>
		<div class="center">
		<p><span>Please submit any of your questions in the app Q&amp;A tab. You can also email <a href="mailto:ccva@horacemann.org">ccva@horacemann.org</a> with any questions or suggestions.  You will receive an email reply, or a request to set up a meeting in person. Please feel free to contact any members of the 10th Grade Committee (Listed on the Haiku Page!).</span></p></div>

		<div class="left">
		<p class="space">
		<span class="large ital">If I have a club or group with a community action mission, how can I register it for approval for service-learning credit?</span>
		</p>
		</div>
		<div class="center">
		<p><span>The School has many clubs that participate in activities appropriate for meeting the requirement.  However, being a Club member does not automatically guarantee credit!  Club officers should meet with the Tenth Grade Committee to establish a set of minimum requirements to qualify for credit.  Individual students can also fill out the form with a proposal for using their club participation to fulfill the requirement by clicking the Submission tab.</span></p>
		<p class "space"></p>
		</div>

		<div class="left">
		<p class="space">
		<span class="large ital">If I have a project that does not involve the school, how can I get it approved?</span>
		</p>
		</div>
		<div class="center">
		<p><span>Please fill out the online form from the Submission tab. You will need to ask an adult staff member or administrator at the agency/institution to serve as your adult liaison for your project.  If you or the potential adult liaison has any questions, please contact the CCVA office by clicking <a href="mailto:ccva@horacemann.org">here.</a></span></p>
		<p class "space"></p>
		</div>

		<div class="left">
		<p class="space">
		<span class="large ital">If I have a club or group with a community action mission, how can I register it for approval for service-learning credit?</span>
		</p>
		</div>
		<div class="center">
		<p><span>The School has many clubs that participate in activities appropriate for meeting the requirement.  However, being a Club member does not automatically guarantee credit!  Club officers should meet with the Tenth Grade Committee to establish a set of minimum requirements to qualify for credit.  Individual students can also fill out the form with a proposal for using their club participation to fulfill the requirement by clicking the Submission tab.</span></p>
		<p class "space"></p>
		</div>

		<div class="left">
		<p class="space">
		<span class="large ital">Who is on the Tenth Grade Committee?</span>
		</p>
		</div>
		<div class="center">
		<p><span>The Committee is composed of three students: Zarina Iman, Lutie Brown, and Ben Heller; CCVA representatives Jeremy Leeds, Nicole Stansbury and Josh Goodstein; Caitlin Hickerson, MD Service-Learning coordinator; and Glenn Wallach, Tenth Grade Dean.  The Grade Presidents, Daniel Posner and Rachel Okin, are consulting members.  The Committee will work on a consensus basis (we do not anticipate the need for formal voting). </span></p>
		<p class "space"></p>
		</div>

		<div class="left">
		<p class="space">
		<span class="large ital">What if I hit a roadblock and the project does not work out as planned?</span>
		</p>
		</div>
		<div class="center">
		<p><span>Even well-planned projects, into which you have put a lot of time, may not work out as you had hoped.  The learning involved is the central element in our requirement.  Projects that show follow-through as outlined in the proposal, will be valuable learning experiences even with unanticipated or disappointing outcomes.  However, if the student has not fulfilled the commitments outlined in the approved proposal, or the guidelines established by the club or organization, credit will not be granted. </span></p>
		<p class "space"></p>
		</div>

		<div class="left">
		<p class="space">
		<span class="large ital">What if I put in time, thought and effort on a project, but do not submit the form to the Committee?
</span>
		</p>
		</div>
		<div class="center">
		<p><span>You risk not having the project count towards fulfillment of your requirement.  DON’T LEAVE THIS TO CHANCE!  Submit your project for approval before you undertake it. </span></p>
		<p class "space"></p></div>
		

	</ion-content>
</ion-view>
