
<ion-view view-title="INFO">
	<ion-content>
	<div class="main_Title">
	<p>Info</p>
	</div>
	<div class="center">
		<p class="space">
			<span class="large ital">Class of 2018 Service Learning Comittee</span>
		</p>
	</div>
	<div class="center">
		<p class="small-space"><a href="mailto: lutie_brown@horacemann.org" class="blue">Lutie Brown (Class of 2018)</a></p>
		<p class="small-space"><a href="mailto:benjamin_heller@horacemann.org" class="blue">Ben Heller (Class of 2018)</a></p>
		<p class="small-space"><a href="mailto:zarina_iman@horacemann.org" class="blue">Zarina Iman (Class of 2018)</a></p>
		<p class="small-space"><a href="mailto:caitlin_hickerson@horacemann.org" class="blue">Ms. Caitlin Hickerson (MD Service-Learning Coordinator)</a></p>
		<p class="small-space"><a href="mailto:glenn_wallach@horacemann.org" class="blue">Dr. Wallach (Class of 2018 Dean)</a></p>
		<p class="small-space"><a href="mailto:rachel_okin@horacemann.org" class="blue">Rachel Okin (Class of 2018 Co-President)</a></p>
		<p class="small-space"><a href="mailto:daniel_posner@horacemann.org" class="blue">Daniel Posner (Class of 2018 Co-President)</a></p>
		<p class="small-space"><a href="mailto:jeremy_leeds@horacemann.org" class="blue">Dr. Jeremy Leeds (Director, Center for Community Values and Action)</a></p>
		<p class="small-space"><a href="mailto:nicole_stansbury@horacemann.org" class="blue">Ms. Nicole Stansbury (CCVA Staff)</a></p>
		<p class="small-space"><a href="mailto:josh_goodstein@horacemann.org" class="blue">Mr. Josh Goodstein (CCVA Staff)</a></p>

	<div class="center">
		<p class="space">
		<span class="large ital">Calendar</span>
		</p>
	</div>

	<div class="card" ng-repeat="event in events">
					<div class="item item-divider">
						{{event.title}}
					</div>					
					<div class="item item-text-wrap">
						{{ event.description }}
						<p/>
						<strong>When: {{ event.date | date:'short' }}</strong>
												
						<p ng-if="event.status">This event is added to your calendar already!</p>
						<button ng-if="!event.status" ng-click="addEvent(event,$index)" class="button button-block button-balanced">Add to Calendar</button>
												
					</div>
				</div>
	

	
	<p class="space"></p>

	</ion-content>
	</ion-view>
