/* Empty. Add your own CSS if you like */
.bold {
	 font-weight: bold;
}
.home_Page{
	text-align: center;
}
.main_Title{
	padding-top: 10px;
	text-align: center;
	font-size: 30px;
	color: blue;
	font-weight: bold;
}
.left{
	text-align:left;
	margin-left: 10px;

}
.ital {
	font-style: italic;
}
.center {
	text-align: center;
	margin-left:5px;
	margin-right: 5px;
}

.large
{
	margin-top: 20px;
	color: maroon;
	font-size:20px;
}
.space
{
	margin-top:30px;
}
.blue
{
	color:blue;
}
.small-space
{
	margin-top:10px;
}


